body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.max-button {
  border: none;
  background-color: rgb(207, 54, 40);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 25px;
  border-radius: 5px;
}



.max-paragraph {
  font-size: 1.5rem;
}
